@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); /* fonte á mão */ 

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap'); /* fonte serif */ 

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Nunito', sans-serif;
    --fonte3: 'Great Vibes', cursive;

    --cor1: rgb(0, 0, 0);
    --cor2: rgb(255, 255, 255);
    --cor3: rgb(40, 40, 185);
}

* {
    margin: 0px;
    padding: 0px;
   
}

html, body {
    background-color: antiquewhite;
    min-height: 100vh;
    font-family: var(--fonte1);
}
header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte2);
}

header h1 {
    padding-top: 50px;
    /* text-transform: uppercase;  Jogando todas as letras para maiuscula */
    font-variant: small-caps; /* Jogando apenas as letras inicias de cada palvra para maiusculo */
    /* font-size: 4.8vw;  colocar o tomanho da fonte em 10% da largura total da tela (view weight), serve para deixar responsivo 
    (nesse caso o cabeçalho), ao diminuir a tela, as fontes também irão diminuir e vise e versa  */
    font-size: 3em;

}

header p {
    padding-bottom: 50px;
    font-size: 1em;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

 header a:hover, footer a:hover {
    text-decoration: underline;
 }

 section {
    padding-top: 160px;
    padding-bottom: 160px;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2em;    

}

 section > p  {
    padding-bottom: 50px; 
}

 section.normal {
    background-color: white;
    color: black;
 }

 section.img {
    background-color: rgba(68, 68, 68, 0.664);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;

 }

section.img > p {
    background-color: rgba(0, 0, 0, 0.027);
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
}

section p#sombreado { /* um fundo mais sombreado apenas para o paragrafo que fica em cima da imagem 
    das folhas brancas (não dá para ler direito com o fundo que foi aplicado normalmente na imagem de cima) */ 
    background-image: linear-gradient(45deg, #d9d6ad7c, #59562c33 ); 
}

section#img01{
    background-image:url(./pacote-d012/imagens/background001.jpg);
    background-position: right center;
    background-size: cover;  /* para que a imagem fique mais acomodada (tamano mais ideal) na CAIXA, 
    não deixando ela deslocada para nenhum lado */ 
}

section#img02{
    background-image: url(./pacote-d012/imagens/background002.jpg);
    background-position: right center;
    background-size: cover;

}


 footer {
    background-color: var(--cor1);
    text-align: center;
    color: white;
    padding: 30px;
 }

a:hover {
    background-color: var(--cor2);
    color: var(--cor1);
    text-decoration: underline;
    transition-duration: 1.5s;
 }

